* {
  box-sizing: border-box;
  margin: 0;
  width: auto;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-color: black;
}
.firstsec {
  background-image: url("./imagesNeflix/download.png");
  background-repeat: no-repeat;
  height: 640px;
  width: auto;
  border-bottom: 15px solid rgb(34, 34, 34);
}
.headalogo {
  display: flex;
  justify-content: space-between;
}
#Nimglogo {
  height: 80px;
  width: 120px;
  position: relative;
  top: 25px;
  left: 40px;
}
#btnsign {
  height: 35px;
  width: 90px;
  position: relative;
  right: 40px;
  top: 50px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
.title {
  text-align: center;
  color: white;
  font-size: 35px;
  margin-top: 100px;
}
.title2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 30px;
}
.title3 {
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
}
.last {
  display: flex;
  margin: 0;
  padding: 0;
}
.e-form {
  position: absolute;
  left: 25vw;
  display: flex;
}
.inpt {
  padding: 18px;
  width: 35vw;
  border: none;
}
.inpt-btn {
  padding: 11.5px;
  /* top: 4px; */
  width: 15vw;
  position: relative;
  right: 20px;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  border: none;
}
.sec2 {
  border-bottom: 15px solid rgb(34, 34, 34);
  height: 75vh;
}

.royal {
  display: flex;
  margin: auto 10%;
}

.writeup {
  color: white;
  width: 50%;
  margin-top: 15vh;
}
#naz {
  font-size: 3rem;
}
#naz2 {
  font-size: 1.5rem;
  max-width: 80%;
}
#pix {
  width: 40vw;
  /* z-index: 100; */
}
.vid {
  width: 29vw;
  position: relative;
  bottom: 50vh;
  left: 5.3vw;
  z-index: -1;
}

#vdholder {
  /* margin-left: 15vw; */
  width: 50%;
}
.sec3 {
  height: 60vh;
  width: 100%;
  border-bottom: 15px solid rgb(34, 34, 34);
}
.aboveall {
  display: flex;
  /* justify-content: space-around; */
}
.above {
  display: flex;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 15px;
  width: 25vw;
  height: 15vh;
  position: relative;
  left: 15vw;
  bottom: 18vh;
  background-color: black;
}
.phon {
  margin-left: 10vw;
  width: auto;
}
#phon-id {
  height: 55vh;
}
#img-1 {
  height: 12vh;
  width: 4vw;
  margin-top: 5px;
  margin-left: 3px;
}
#img-2 {
  height: 8vh;
  width: 4vw;
}
.img-2-div {
  margin-left: 5vw;
  margin-top: 3vh;
}
#down-lod {
  color: blue;
  font-weight: bold;
  padding-top: 5px;
}
#s-writeup {
  color: white;
  font-weight: lighter;
}
.boss {
  margin-top: 3vh;
  margin-left: 1.5vw;
}

.div-container {
  margin-top: 17vh;
  margin-right: 0vw;
}
#txt-sec3 {
  font-size: 3rem;
  color: white;
}
#txt2-sec3 {
  font-size: 1.4rem;
  color: white;
}
.sec4 {
  height: 30vh;
  border-bottom: 15px solid rgb(34, 34, 34);
}
.respond {
  margin-top: 10vh;
  margin-left: 10vw;
}
#rom {
  color: white;
  font-size: 3rem;
}
#rom2 {
  color: white;
  font-size: 1.5rem;
}
/* section 5 starts here*/
.sec5 {
  height: 70vh;
  border-bottom: 15px solid rgb(34, 34, 34);
}
.sec5-div-holder {
  display: flex;
}
#kiddy {
  color: white;
  font-size: 3.2rem;
  font-weight: bold;
}
#kiddy2 {
  color: white;
  font-size: 1.5rem;
}
.master-div {
  margin-top: 20vh;
  margin-left: 10vw;
}
#kidpix {
  height: 400px;
  width: 500px;
}
.sec6 {
  height: 150vh;
  border-bottom: 15px solid rgb(34, 34, 34);
}
#FAQ {
  color: white;
  font-size: 3rem;
}
.FAQ-DIV {
  text-align: center;
  margin-top: 10vh;
}
.btn-holder {
  display: block;
  margin-left: 18vw;
}
.main-man {
  display: flex;
  justify-content: center;
}
.footbn {
  background-color: rgb(48, 48, 48);
  margin: 10px;
  padding: 25px;
  color: white;
  width: 60vw;
  font-size: 1.4rem;
}
#sp1 {
  position: relative;
  left: 42vw;
}
#sp2 {
  position: relative;
  left: 32vw;
}
#sp3 {
  position: relative;
  left: 38.5vw;
}
#sp4 {
  position: relative;
  left: 40.5vw;
}
#sp5 {
  position: relative;
  left: 33vw;
}
#sp6 {
  position: relative;
  left: 36vw;
}
#txtfoot {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

/* .main-man {
  margin-top: 1vh;
  margin-left: 25vw;
} */
#foot-input {
  width: 35vw;
  padding: 20.3px;
  outline: none;
  /* border-right: 1px solid black; */
}

#foot-input:focus {
  border-bottom: 1.8px solid blue;
  border-top: 1.8px solid blue;
  border-left: 1.8px solid blue;
  border-right: none;
}

#btn-footer {
  width: 15vw;
  padding: 17.3px;
  color: white;
  background-color: red;
  font-size: 1.3rem;
  border-top: none;
  border-left: 1px solid black;
  border-bottom: none;
  border-right: none;
}
/*last segment*/
.fot-ul-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}
#li-div {
  margin-left: 12px;
}
#li-div4 {
  margin-right: 12vw;
}
.fot-ul-div li,
.iam,
#fot-a {
  text-decoration: none;
  list-style: none;
  color: silver;
  font-size: 0.8rem;
}
#fot-p {
  margin-top: 10vh;
  margin-left: 12.5vw;
}
#lastp {
  margin-left: 12.5vw;
  margin-top: 2vh;
  color: silver;
  font-size: 0.8rem;
  margin-bottom: 5vh;
}

.fot-ul-div li:hover,
.iam:hover,
#fot-a:hover {
  text-decoration: underline;
}

/* mobile Device */
@media screen and (max-width: 660px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }
  .firstsec {
    background-image: url("./imagesNeflix/download.png");
    background-repeat: no-repeat;
    height: 640px;
    width: 100%;
    border-bottom: 15px solid rgb(34, 34, 34);
  }
  .headalogo {
    display: flex;
    justify-content: space-between;
  }
  #Nimglogo {
    height: 80px;
    width: 120px;
    position: relative;
    top: 25px;
    left: 40px;
  }
  #btnsign {
    height: 35px;
    width: 90px;
    position: relative;
    right: 40px;
    top: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .title {
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 100px;
  }
  .title2 {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-top: 30px;
  }
  .title3 {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 20px;
    max-width: 70%;
  }
  .sec2 {
    border-bottom: 15px solid rgb(34, 34, 34);
    height: 60vh;
  }
  .e-form {
    position: absolute;
    left: 9vw;
    display: block;
  }
  .inpt {
    padding: 18px;
    width: 80vw;
    border: none;
  }
  .inpt-btn {
    padding: 11.5px;
    top: 4px;
    width: 150px;
    position: relative;
    left: 29%;
    top: 10px;
    background-color: red;
    color: white;
    font-size: 1rem;
    border: none;
  }
  .royal {
    display: block;
    /* margin: auto 10%; */
  }

  .writeup {
    color: white;
    width: 100%;
    margin-top: 15vh;
  }
  #naz {
    font-size: 2rem;
    text-align: center;
  }
  #naz2 {
    font-size: 1.3rem;
    max-width: 100vw;
    text-align: center;
    margin: auto 25px;

    /* max-width: 80%; */
  }
  #pix {
    width: 350px;
    /* z-index: 100; */
  }
  .vid {
    width: 300px;
    position: relative;
    bottom: 220px;
    left: 5.3vw;
    z-index: -1;
  }

  #vdholder {
    /* margin-left: 15vw; */
    width: 50%;
  }
  .sec3 {
    height: 70vh;
    width: 100%;
    border-bottom: 15px solid rgb(34, 34, 34);
  }
  .aboveall {
    flex-direction: column-reverse;
  }
  .above {
    display: flex;
    border: 2px solid rgb(64, 64, 64);
    border-radius: 10px;
    width: 65vw;
    height: 10vh;
    position: relative;
    left: 18vw;
    bottom: 10vh;
    background-color: black;
  }
  .phon {
    margin-left: 10vw;
    width: auto;
  }
  #phon-id {
    height: 30vh;
    width: 80vw;
  }
  #img-1 {
    height: 8vh;
    width: 8vw;
    margin-top: 5px;
    margin-left: 5px;
  }
  #img-2 {
    height: 6vh;
    width: 8vw;
  }
  .img-2-div {
    margin-left: 10vw;
    margin-top: 2vh;
  }
  #down-lod {
    color: blue;
    font-weight: bold;
    padding-top: 5px;
  }
  #s-writeup {
    color: white;
    font-weight: lighter;
  }
  .boss {
    margin-top: 3vh;
    margin-left: 8vw;
  }

  .div-container {
    margin-left: 10vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
  #txt-sec3 {
    font-size: 2rem;
    color: white;
    text-align: center;
  }
  #txt2-sec3 {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
  .sec4 {
    height: 20vh;
    border-bottom: 15px solid rgb(34, 34, 34);
  }
  .respond {
    margin-top: 10vh;
  }
  #rom {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  #rom2 {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  .sec5 {
    height: 70vh;
    border-bottom: 15px solid rgb(34, 34, 34);
  }
  .sec5-div-holder {
    flex-direction: column-reverse;
  }
  #kiddy {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  #kiddy2 {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  .master-div {
    margin-top: 6vh;
    margin-right: 10px;
  }
  #kidpix {
    width: 400px;
    height: 300px;
  }
  .sec6 {
    height: 120vh;
    border-bottom: 15px solid rgb(34, 34, 34);
  }
  #FAQ {
    color: white;
    font-size: 2.5rem;
  }
  .FAQ-DIV {
    text-align: center;
    margin-top: 6vh;
  }
  .btn-holder {
    display: block;
    margin-left: 10vw;
  }
  .main-man {
    display: block;
    /* justify-content: center; */
  }
  .footbn {
    background-color: rgb(48, 48, 48);
    margin: 10px;
    padding: 18px;
    color: white;
    width: 70vw;
    font-size: 1rem;
  }
  #sp1 {
    position: relative;
    left: 30vw;
  }
  #sp2 {
    position: relative;
    left: 7vw;
  }
  #sp3 {
    position: relative;
    left: 23vw;
  }
  #sp4 {
    position: relative;
    left: 27vw;
  }
  #sp5 {
    position: relative;
    left: 9vw;
  }
  #sp6 {
    position: relative;
    left: 16vw;
  }
  #txtfoot {
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
  }

  /* .main-man {
    margin-top: 1vh;
    margin-left: 25vw;
  } */
  #foot-input {
    width: 90vw;
    padding: 20.3px;
    outline: none;
    margin-left: 5vw;
  }

  #foot-input:focus {
    border-bottom: 1.8px solid blue;
    border-top: 1.8px solid blue;
    border-left: 1.8px solid blue;
    border-right: none;
  }

  #btn-footer {
    width: 45vw;
    padding: 17.3px;
    color: white;
    background-color: red;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 30vw;
    border: none;
    font-weight: bold;
  }
  .fot-ul-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-right: 20px;
    max-width: 100vw;
  }
  #li-div {
    margin: 2px;
  }
  #li-div4 {
    margin-right: 2px;
  }
  #li-div3 {
    margin: 2px;
  }
  #li-div2 {
    margin: 2px;
  }
  .fot-ul-div li,
  .iam,
  #fot-a {
    text-decoration: none;
    list-style: none;
    color: silver;
    font-size: 9px;
  }
  #fot-p {
    margin-top: 5vh;
    margin-left: 12.5vw;
  }
  #lastp {
    margin-left: 12.5vw;
    margin-top: 2vh;
    color: silver;
    font-size: 0.6rem;
    margin-bottom: 5vh;
  }

  .fot-ul-div li:hover,
  .iam:hover,
  #fot-a:hover {
    text-decoration: underline;
  }
}
